[submodule "third_party/DiligentEngine"]
	path = third_party/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "third_party/enkiTS"]
	path = third_party/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "third_party/ozz-animation"]
	path = third_party/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "third_party/ufbx"]
	path = third_party/ufbx
	url = https://github.com/ufbx/ufbx.git
